<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>wasalen的博客</title>

    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/mobi.min.css">
    <link rel="stylesheet" href="./css/modal.min.css">
    <link rel="stylesheet" href="./css/friendly.css">
    <link rel="stylesheet" href="./css/blog.css">
    <!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="./js/menu.js"></script>-->
    <!--<script src="./js/modal.js"></script>-->
    <!--<script src="./js/blog.js"></script>-->
    <script src="./dist/vue.min.js"></script>
    <script src="./js/dist/axios.min.js"></script>


    <!-- <script>
        // baidu statistics
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?fb59b2a6022bccc02671a750f61c356b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        // baidu auto push
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();

    </script> -->


</head>

<body class="bg-light">
    <header>
        <nav class="flex-center bg-white nav-bar">
            <div class="container-wider flex-middle">

                <!-- <a class="nav-bar-logo mr-7" href="/">
                <img src="../images/tou.png" alt="blog logo">
            </a> -->
                <ul class="unit-0 hide-on-mobile nav-bar-nav">
                    <li class="nav-item mr-7">
                        <a class="nav-link" href="/">首页</a>
                    </li>
                    <!-- <li class="nav-item mr-7">
                        <a class="nav-link" href="/tutorials/">教程</a>
                    </li>
                    <li class="nav-item mr-7">
                        <a class="nav-link" href="/categories/">分类</a>
                    </li>-->
                    <li class="nav-item mr-7">
                        <a class="nav-link" href="/archives.html">归档</a>
                    </li>
                </ul>
                <div class="unit flex-right flex-middle">
                    <!-- <form class="hide-on-mobile flex-left flex-middle search-form mr-5" id="search-form"
                        action="/search/">
                        <input class="unit" type="search" name="q" placeholder="搜索..." />
                        <button class="unit-0" type="submit" role="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form> -->
                    <a class="show-on-mobile nav-link fs-7 mr-7" id="js-search-btn" href="#" role="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                    <div class="flex-middle notification">

                        <!-- <a class="flex-middle nav-link fs-7" href="/notifications/">
                            <i class="fa fa-bell-o" aria-hidden="true"></i>

                        </a> -->

                    </div>
                    <div class="show-on-mobile flex-middle">
                        <a class="nav-link fs-7 ml-7 mr-5" id="menu-toggle" href="#">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </a>
                        <ul class="menu bg-white" data-menu data-menu-toggle="#menu-toggle">
                            <li class="nav-item mr-7">
                                <a class="nav-link" href="/">首页</a>
                            </li>  
                            <li>
                                <a href="/archives.html">归档</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section class="flex-center">
        <div class="container-wider">

            <div class="flex-left flex-wrap units-gap-big" style="margin-top: 60px">

                <main class="unit-3-4 unit-1-on-mobile top-gap">
                    <div class="bg-white list-group post-items" id="article">
                        <div class="list-group-item post-items-header px-7">
                            <a class="text-muted text-small mr-5" @click="zuixin" :class={'current':ordertype==1}>最新</a>
                            <a class="text-muted text-small" @click="zuire" :class={'current':ordertype==2}>热门</a>
                            <!-- <a class="text-muted text-small float-right" href="/all/rss">
                                <i class="fa fa-rss mr-1" aria-hidden="true"></i>RSS订阅
                            </a> -->
                        </div>

                        <article class="flex-left list-group-item post-item px-7" v-for="item in datalist">
                            <div class="unit unit-1-on-mobile">
                                <ul class="list-inline dot-divider post-item-meta">
                                    <li class="list-inline-item">
                                        <span
                                            class="text-muted text-small text-faded">{{ item.author.nick_name }}</span>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="text-small text-faded">{{item.create_time}}</a>
                                    </li>
                                </ul>
                                <h5 class="top-gap-0 post-item-title">
                                    <a :href="item.id">{{item.title}}</a>
                                </h5>
                                <div class="text-small text-muted hide-on-mobile post-item-excerpt mt-2">
                                    {{item.digest}}
                                </div>
                                <div class="post-item-statistic mt-2">
                                    <a class="text-muted text-small mr-3" role="button">
                                        <i class="fa fa-eye" aria-hidden="true"></i>{{item.clicks}}
                                    </a>
                                    <a class="text-muted text-small mr-3" role="button" href="#">
                                        <i class="fa fa-comments" aria-hidden="true"></i>{{item.comments_count}}
                                    </a>
                                    <a class="text-muted text-small" href="#"><i class="fa fa-folder"
                                            aria-hidden="true"></i>
                                        {{item.category.name}}</a>

                                </div>
                            </div>

                        </article>

                        <div class="flex-center list-group-item">
                            <aside class="flex-center">
                                <nav class="pagination list-inline" v-for='i in pagecount'>
                                    <a href="javascript:void(0)" @click='tothepage(i);'
                                        :class={'current':i==page}>{{i}}</a>


                                    <!-- <a class="current" @click='topage(1)'>1</a>


                                    <a href="javascript:void(0)" @click='nextpage'>2</a>

                                    <a href="?page=3">3</a>


                                    <span>...</span>


                                    <a href="?page=9">9</a> -->

                                </nav>
                            </aside>
                        </div>
                    </div>
                    <script>
                        var vm = new Vue({
                            el: '#article',
                            data: {
                                host: 'http://127.0.0.1:5000',
                                message: '',
                                datalist: [],
                                page: 1,
                                per_page: 5,
                                pagecount: 0,
                                cid: 1,
                                ordertype: 1

                            },
                            mounted: function () {
                                this.topage()
                            },
                            methods: {
                                zuixin: function () {
                                    console.log('最新')
                                    this.page = 1
                                    this.ordertype = 1;
                                    this.topage()
                                },
                                zuire: function () {
                                    console.log('最热')
                                    this.page = 1
                                    this.ordertype = 2;
                                    this.topage()
                                },
                                topage: function () {
                                    // var params= {
                                    //     cid: this.cid,
                                    //     ordertype: this.ordertype,
                                    //     page: this.page,
                                    //     per_page: this.per_page,
                                    //     csrf_token: this.getCookie('csrf_token')
                                    // }
                                    // axios({
                                    //     method: 'post',
                                    //     url: this.host + '/api/list/',
                                    //     // data: JSON.stringify(params),
                                    //     data:params,
                                    //     // contentType: 'application/json',
                                    //     headers: {
                                    //         'X-CSRFToken': this.getCookie('csrf_token')
                                    //     }
                                    // })
                                    axios({
                                        method: 'get',
                                        url: this.host + '/api/list/',
                                        params: {
                                            cid: this.cid,
                                            ordertype: this.ordertype,
                                            page: this.page,
                                            per_page: this.per_page,
                                        }

                                    })
                                        .then(response => {
                                            this.datalist = response.data.data.blogs_dict_list;
                                            this.pagecount = response.data.data.total_page;
                                            // this.page = response.data.data.current_page;

                                        })
                                        .catch(error => {
                                            console.log(error.response.data)
                                        });
                                },

                                nextpage: function () {
                                    this.page += 1;
                                    this.topage()
                                },
                                lastpage: function () {
                                    this.page -= 1;
                                    this.topage()
                                },
                                tothepage: function (pageid) {
                                    this.page = pageid;
                                    this.topage()

                                },
                                getCookie: function (name) {
                                    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                                    return r ? r[1] : undefined;
                                }


                            }
                        });


                    </script>
                </main>


                <aside class="unit-1-4 unit-1-on-mobile">


                    <section class="bg-white">
                        <h6 style="padding-left: 10px">交流学习</h6>

                        <ul class="">
                            <li>
                                Python学习交流群
                                <ul>
                                    <li>310828874</li>

                                </ul>
                            </li>
                        </ul>

                        <ul class="">
                            <li>
                                知乎专栏
                                <ul>
                                    <li>
                                        Django 学习小组
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </section>


                    <section class="bg-white top-gap card">

                        <div class="card-header">
                            友情链接
                            <ul>

                                <li><a class="text-muted" target="_blank" href="https://www.paurl.com/">互联网运营</a>
                                </li>

                                <li><a class="text-muted" target="_blank" href="http://www.dj-china.org">Django中文社区</a>
                                </li>

                                <li><a class="text-muted" target="_blank" href="https://vim.ink">Vim教程网</a>
                                </li>
                                <li><a class="text-muted" target="_blank" href="https://www.zmrenwu.com">追梦人的博客</a></li>

                            </ul>
                        </div>
                    </section>


                    <section class="bg-white top-gap card">
                        <div class="card-header">
                            推广
                            <div class="flex-left">
                                <a class="text-small top-gap" href="mailto:wasalen@foxmail.com">联系博主</a>
                            </div>
                        </div>
                    </section>
                </aside>

            </div>
        </div>
    </section>
    <footer class="bg-white py-5 mt-5 text-small text-muted">
        <div class="flex-center">
            <div>&copy; 2018-2019 WASALEN的博客</div>
        </div>
        <div class="flex-center">
            <div><a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备18051172号</a></div>
        </div>
    </footer>
</body>

</html>