<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>博客后台管理</title>
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
	<script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/admin/js/jquery.form.min.js"></script>
	<script src="../../static/admin/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="../../static/admin/js/tinymce_setup.js"></script>
	<script src="../../static/admin/js/blogs_add_detail.js"></script>
</head>
<body>
	<div class="breadcrub">
			当前位置：博客管理>博客版本编辑			
		</div>
		<div class="pannel">
			<form class="blogs_add">
			<h3 class="review_title">博客版式编辑</h3>
            <div class="form_group">
                <label>博客标题：</label>
                <input name="title" type="text" class="input_txt2" value="">
            </div>
            <div class="form_group">
                <label>博客分类：</label>
                <select class="sel_opt" name="category_id">
                    {% for category in data.categories %}
                        <option value="{{ category.id }}" >{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form_group">
                <label>博客摘要：</label>
                <textarea class="input_multxt" name="digest"></textarea>
            </div>
            <!--<div class="form_group">-->
                <!--<label>索引图片：</label>-->
                <!--<img src="" alt="索引图片" class="index_pic">-->
            <!--</div>-->
            <!--<div class="form_group">-->
                <!--<label>上传图片：</label>-->
                <!--<input type="file" name="index_image" class="input_file">-->
            <!--</div>-->
            <div class="form_group">
                <label>博客内容：</label>
                <div class="rich_wrap fl">
                    <!--<input class="input_area" id="rich_content" name="content" value=""></input>-->
                    <textarea name="content" class="input_area"></textarea>
                </div>
            </div>
			<div class="form_group indent_group line_top">
				<input type="submit" value="确定" class="confirm">
				<input type="button" value="取消" class="cancel" onclick="cancel()">
			</div>
            <input type="hidden" name="blogs_id" value="">
			</form>	
		</div>

</body>
</html>